html, body {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body > span {
  font-weight: 600;
  font-size: 3rem;
}

.fake-device-container {
  width: 240px;
  height: 320px;
  border: solid 1px black;
  margin: 0 5rem 5rem;
}

.fake-focus {
  background-color: #ff8329;
  color: white;
}

.option-menu-container {
  position: relative !important;
}

.option-menu {
  position: relative !important;
}
